.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.App h1 {
  font-size: 32px;
  text-align: center;
}

.decks {
  display: grid;
  width: 900px;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  color: black;
}

.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: white;
  border-radius: 20px;
  border: none;
}

.delete-button {
  position: absolute;
  font-size: 10px;
  height: 30px;
  width: 30px;
  top: 0px;
  right: 0px;
  border: none;
  border-radius: 0 20px 0 20px;
  background-color: white;
  border: none;
}

.delete-button:hover {
  background-color: #DC2626;
  color: white;
}

.create-deck {
  height: 30px;
  width: 100px;
  border: 0;
  border-radius: 8px;
  background: #047857;
  color: white;
  font-weight: bold;
}

.create-deck:hover {
  background:#059669;
  color: white;
}

.create-deck:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.container {
  position: relative;
}